.form {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 2rem);
    padding: 3rem;
}

.form > label {
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.form > button {
    margin-top: 2rem;
}

.lobby {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(100% - 2rem);
    min-width: 50%;
}

.players {
    flex: 2 0 75%;
    font-size: 1.25rem;
    width: 100%;
}

.player {
    padding: .25em 0;
    display: flex;
    align-items: center;
    min-height: 2em;
    opacity: .7;
    overflow-x: hidden;
    white-space: nowrap;
}

.player.ready {
    opacity: 1;
}

.player.ready::after {
    content: '✓';
    margin-left: 1em;
}

.readyButtonContainer {
    flex: 1 1 25%;
    padding: 1rem 0;
}

.linkWrapper {
    flex: 0 1 0;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
            "label label"
            "input button";
    padding: 1rem 0;
    gap: 0.5rem;
}

.linkWrapper > label {
    grid-area: label;
}

.linkWrapper > input {
    grid-area: input;
}

.linkWrapper > button {
    grid-area: button;
}
