.header {
    display: flex;
    align-items: center;
    background: #ddd;
}

.header > nav {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}

.header > nav a {
    padding: 10px;
    color: #673ab8;
    text-decoration: none;
}

.header > nav a:hover {
    background-color: #f1e9ff;
}

.logo {
    height: 1em;
}
